pytech_insert.py
fred = {
 "student_id": "1007",
 "first_name": "Fred",
 "last_name": "Smith",
 "grade": "A"
}
jill = {
 "student_id": "1008",
 "first_name": "Jill",
 "last_name": "Jones",
 "grade": "B"
}
bob = {
 "student_id": "1009",
 "first_name": "Bob",
 "last_name": "Smith",
 "grade": "C"
}
fred_student_id = students.insert_one(fred).inserted_id
jill_student_id = students.insert_one(jill).inserted_id
bob_student_id = students.insert_one(bob).inserted_id
print(fred_student_id)
print(jill_student_id)
print(bob_student_id)
pytech_queries.py
docs = students.find({})
for doc in docs:
 print(doc)
doc = students.find_one({"student_id": "1007"})
print(doc["student_id"])
print(doc["first_name"])
print(doc["last_name"])
print(doc["grade"])
